//- .container
//-   .row
//-     .col-md-3.col-md-push-3
//-       table.table
//-         tbody
//-           tr(*ngFor="let user of collection")
//-             td {{user.firstName}}


.card.bg-light
  .card-body.mx-auto(style="max-width: 400px;")
    h4.card-title.mt-3.text-center Create Account
    p.text-center Get started with your free account
    
    form([formGroup]="form")
      .form-group.input-group
        input.form-control(name="",
          placeholder="First Name",
          formControlName="firstName",
          type="text")

      .form-group.input-group
        input.form-control(name="",
          placeholder="Last Name",
          formControlName="lastName",
          type="text")


      .form-group.input-group
        input.form-control(name="",
          placeholder="Email",
          formControlName="email",
          type="email")


      .form-group.input-group
        input.form-control(name="",
          placeholder="Password",
          formControlName="password",
          type="password")


      p.text-center
        | Have an account? 
        button.btn.btn-primary(
          (click)="submitForm()",
          [disabled]="!form.valid") Log In

